.container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #526D82;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #DDE6ED;
}

.text-input{
    max-width: 200px;
    margin: 0 auto;
    background-color: #526D82;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #DDE6ED;
}

.input-field{
    max-width: 200px;
    margin: 0 auto;
    background-color: #526D82;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #DDE6ED;
}

.dropdown-items{
    max-width: 200px;
    margin: 0 auto;
    background-color: #526D82;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #DDE6ED;
}

.horizontal-layout{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    overflow: hidden;
}


.header {
    font-size: 24px;
    font-weight: bold;
    color: #f5f5f5;
    margin-bottom: 20px;
}

.container-item{
    max-width: 256px;
    margin: 0 auto;
    background-color: #526D82;
    padding: 10px;
    border-radius: 8px;
    border-color: #27374D;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #DDE6ED;
}

.image-container {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.image-container-small {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-container-small img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
}